<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lavender1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-66}</string>
                <key>spriteSize</key>
                <string>{52,24}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{411,69},{52,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lavender10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{140,136}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{1,1},{140,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lavender2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-54}</string>
                <key>spriteSize</key>
                <string>{46,48}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{411,95},{46,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lavender3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-47}</string>
                <key>spriteSize</key>
                <string>{66,62}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{405,1},{66,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lavender4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-45}</string>
                <key>spriteSize</key>
                <string>{78,78}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{83,143},{78,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lavender5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-37}</string>
                <key>spriteSize</key>
                <string>{80,86}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{1,143},{80,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lavender6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-24}</string>
                <key>spriteSize</key>
                <string>{120,114}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{289,137},{120,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lavender7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-16}</string>
                <key>spriteSize</key>
                <string>{124,114}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{163,139},{124,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lavender8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-12}</string>
                <key>spriteSize</key>
                <string>{134,128}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{275,1},{134,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lavender9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{136,134}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{139,1},{136,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>00.png</string>
            <key>size</key>
            <string>{468,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:794f96e7d98a582702fd36d61cb5fb6b:a78017ea8923c090c92f6119754c9ba2:6084cb27e529904f566fb1a1bae8d259$</string>
            <key>textureFileName</key>
            <string>00.png</string>
        </dict>
    </dict>
</plist>
