<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mugwort1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-45}</string>
                <key>spriteSize</key>
                <string>{48,82}</string>
                <key>spriteSourceSize</key>
                <string>{142,198}</string>
                <key>textureRect</key>
                <string>{{53,833},{48,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mugwort10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-24}</string>
                <key>spriteSize</key>
                <string>{106,122}</string>
                <key>spriteSourceSize</key>
                <string>{142,198}</string>
                <key>textureRect</key>
                <string>{{1,143},{106,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mugwort2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-39}</string>
                <key>spriteSize</key>
                <string>{50,94}</string>
                <key>spriteSourceSize</key>
                <string>{142,198}</string>
                <key>textureRect</key>
                <string>{{1,833},{50,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mugwort3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-32}</string>
                <key>spriteSize</key>
                <string>{52,108}</string>
                <key>spriteSourceSize</key>
                <string>{142,198}</string>
                <key>textureRect</key>
                <string>{{1,723},{52,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mugwort4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-32}</string>
                <key>spriteSize</key>
                <string>{52,108}</string>
                <key>spriteSourceSize</key>
                <string>{142,198}</string>
                <key>textureRect</key>
                <string>{{55,723},{52,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mugwort5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-35}</string>
                <key>spriteSize</key>
                <string>{80,100}</string>
                <key>spriteSourceSize</key>
                <string>{142,198}</string>
                <key>textureRect</key>
                <string>{{1,641},{80,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mugwort6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-27}</string>
                <key>spriteSize</key>
                <string>{86,116}</string>
                <key>spriteSourceSize</key>
                <string>{142,198}</string>
                <key>textureRect</key>
                <string>{{1,523},{86,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mugwort7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-20}</string>
                <key>spriteSize</key>
                <string>{90,130}</string>
                <key>spriteSourceSize</key>
                <string>{142,198}</string>
                <key>textureRect</key>
                <string>{{1,391},{90,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mugwort8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-15}</string>
                <key>spriteSize</key>
                <string>{106,140}</string>
                <key>spriteSourceSize</key>
                <string>{142,198}</string>
                <key>textureRect</key>
                <string>{{1,1},{106,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mugwort9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-24}</string>
                <key>spriteSize</key>
                <string>{106,122}</string>
                <key>spriteSourceSize</key>
                <string>{142,198}</string>
                <key>textureRect</key>
                <string>{{1,267},{106,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>00.png</string>
            <key>size</key>
            <string>{108,928}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f45ae2a43b5af1d076fc7fe5ecab3d0a:439892d0e1ea0c642898212c02fcceee:6084cb27e529904f566fb1a1bae8d259$</string>
            <key>textureFileName</key>
            <string>00.png</string>
        </dict>
    </dict>
</plist>
