<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aphidDeath1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-10}</string>
                <key>spriteSize</key>
                <string>{38,26}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{1,1},{38,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aphidDeath2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-9}</string>
                <key>spriteSize</key>
                <string>{38,26}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{41,1},{38,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aphidDeath3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-9}</string>
                <key>spriteSize</key>
                <string>{38,26}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{81,1},{38,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aphidDeath4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-9}</string>
                <key>spriteSize</key>
                <string>{38,26}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{121,1},{38,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>00.png</string>
            <key>size</key>
            <string>{160,28}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:65f5fb6d4122213428fec74eb6ba76fe:62c6bb3ba1f0891ad02c3478d7161e38:6084cb27e529904f566fb1a1bae8d259$</string>
            <key>textureFileName</key>
            <string>00.png</string>
        </dict>
    </dict>
</plist>
