<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>butterflyDeath1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-7}</string>
                <key>spriteSize</key>
                <string>{106,114}</string>
                <key>spriteSourceSize</key>
                <string>{284,142}</string>
                <key>textureRect</key>
                <string>{{1,1},{106,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>butterflyDeath2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,-34}</string>
                <key>spriteSize</key>
                <string>{56,74}</string>
                <key>spriteSourceSize</key>
                <string>{284,142}</string>
                <key>textureRect</key>
                <string>{{195,1},{56,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>butterflyDeath3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-95,-29}</string>
                <key>spriteSize</key>
                <string>{94,84}</string>
                <key>spriteSourceSize</key>
                <string>{284,142}</string>
                <key>textureRect</key>
                <string>{{109,1},{94,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>00.png</string>
            <key>size</key>
            <string>{252,116}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5755d87313746a6dfe079ff8c61c3aef:ea226fa02eaa8d3413d0f2af1b6580cf:6084cb27e529904f566fb1a1bae8d259$</string>
            <key>textureFileName</key>
            <string>00.png</string>
        </dict>
    </dict>
</plist>
