<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>caterpillarMovement1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{52,56}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{83,1},{52,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caterpillarMovement2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{80,60}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{1,1},{80,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caterpillarMovement3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{48,52}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{137,1},{48,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>caterpillarMovement.png</string>
            <key>size</key>
            <string>{186,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:474fe821bab60f83aff75ed3005abd92:863da5fd025bfa9fe810616e94103b21:672ccbcfff8281999ff1c80c521084ee$</string>
            <key>textureFileName</key>
            <string>caterpillarMovement.png</string>
        </dict>
    </dict>
</plist>
