<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>snailMovement1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{60,52}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{1,1},{60,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snailMovement2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{58,52}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{1,161},{58,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snailMovement3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{60,50}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{1,109},{60,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snailMovement4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-6}</string>
                <key>spriteSize</key>
                <string>{60,52}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{1,55},{60,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>00.png</string>
            <key>size</key>
            <string>{62,214}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad09520328d9767bfc5e3124214d6109:6bd70917c7b94a87c6f5bb077f30bff9:6084cb27e529904f566fb1a1bae8d259$</string>
            <key>textureFileName</key>
            <string>00.png</string>
        </dict>
    </dict>
</plist>
