<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eggplantDeath1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{111,164}</string>
                <key>spriteSourceSize</key>
                <string>{181,198}</string>
                <key>textureRect</key>
                <string>{{1,1},{111,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eggplantDeath2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-5}</string>
                <key>spriteSize</key>
                <string>{89,166}</string>
                <key>spriteSourceSize</key>
                <string>{181,198}</string>
                <key>textureRect</key>
                <string>{{1,335},{89,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eggplantDeath3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{109,166}</string>
                <key>spriteSourceSize</key>
                <string>{181,198}</string>
                <key>textureRect</key>
                <string>{{1,167},{109,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>00.png</string>
            <key>size</key>
            <string>{113,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f6ee0611930bd3fa9927882732472aa:da2caaacfb59a490068705bb6cd35aa4:6084cb27e529904f566fb1a1bae8d259$</string>
            <key>textureFileName</key>
            <string>00.png</string>
        </dict>
    </dict>
</plist>
