<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eggplantGrowth1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-73}</string>
                <key>spriteSize</key>
                <string>{30,24}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{419,457},{30,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eggplantGrowth10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-35}</string>
                <key>spriteSize</key>
                <string>{58,100}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{413,111},{58,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eggplantGrowth11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-35}</string>
                <key>spriteSize</key>
                <string>{58,100}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{413,111},{58,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eggplantGrowth12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-35}</string>
                <key>spriteSize</key>
                <string>{58,100}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{417,1},{58,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eggplantGrowth13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-32}</string>
                <key>spriteSize</key>
                <string>{58,106}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{163,429},{58,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>eggplantGrowth14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-23}</string>
                <key>spriteSize</key>
                <string>{64,124}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{293,427},{64,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>eggplantGrowth15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-21}</string>
                <key>spriteSize</key>
                <string>{66,128}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{163,361},{66,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>eggplantGrowth16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-21}</string>
                <key>spriteSize</key>
                <string>{66,128}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{1,417},{66,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>eggplantGrowth17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-21}</string>
                <key>spriteSize</key>
                <string>{64,128}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{293,361},{64,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>eggplantGrowth18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-17}</string>
                <key>spriteSize</key>
                <string>{110,136}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{163,111},{110,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eggplantGrowth19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-17}</string>
                <key>spriteSize</key>
                <string>{110,136}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{163,249},{110,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>eggplantGrowth2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-71}</string>
                <key>spriteSize</key>
                <string>{30,28}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{419,427},{30,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eggplantGrowth20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-17}</string>
                <key>spriteSize</key>
                <string>{110,136}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{1,279},{110,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eggplantGrowth21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-17}</string>
                <key>spriteSize</key>
                <string>{110,136}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{275,111},{110,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>eggplantGrowth22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-17}</string>
                <key>spriteSize</key>
                <string>{108,136}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{279,1},{108,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>eggplantGrowth23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-17}</string>
                <key>spriteSize</key>
                <string>{110,136}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{301,223},{110,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eggplantGrowth24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-6}</string>
                <key>spriteSize</key>
                <string>{108,158}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{119,1},{108,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>eggplantGrowth25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-5}</string>
                <key>spriteSize</key>
                <string>{114,160}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{1,163},{114,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>eggplantGrowth26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-5}</string>
                <key>spriteSize</key>
                <string>{116,160}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{1,1},{116,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eggplantGrowth3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-68}</string>
                <key>spriteSize</key>
                <string>{30,34}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{131,451},{30,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eggplantGrowth4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-66}</string>
                <key>spriteSize</key>
                <string>{30,38}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{113,381},{30,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>eggplantGrowth5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-67}</string>
                <key>spriteSize</key>
                <string>{30,36}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{131,413},{30,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eggplantGrowth6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-64}</string>
                <key>spriteSize</key>
                <string>{30,42}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{119,111},{30,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eggplantGrowth7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-35}</string>
                <key>spriteSize</key>
                <string>{48,100}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{113,279},{48,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eggplantGrowth8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-35}</string>
                <key>spriteSize</key>
                <string>{52,100}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{423,315},{52,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eggplantGrowth9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-35}</string>
                <key>spriteSize</key>
                <string>{56,100}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{413,213},{56,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>aimedVegetableTypes.png</string>
            <key>size</key>
            <string>{476,492}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d02a191ed077c0cbebae1e253da88b83:b46206ea58f48e75c5737d208f37edbf:630e2a8ec6161201334e7baa4bcc6ae0$</string>
            <key>textureFileName</key>
            <string>aimedVegetableTypes.png</string>
        </dict>
    </dict>
</plist>
