<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>grassGrowth1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-59}</string>
                <key>spriteSize</key>
                <string>{68,50}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{362,346},{68,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>grassGrowth10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-37}</string>
                <key>spriteSize</key>
                <string>{120,94}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{388,0},{120,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>grassGrowth11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-31}</string>
                <key>spriteSize</key>
                <string>{120,96}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{134,80},{120,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>grassGrowth12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-32}</string>
                <key>spriteSize</key>
                <string>{126,106}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{0,308},{126,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>grassGrowth13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-26}</string>
                <key>spriteSize</key>
                <string>{128,114}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{362,218},{128,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>grassGrowth14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-23}</string>
                <key>spriteSize</key>
                <string>{128,124}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{106,308},{128,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grassGrowth15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-21}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{234,298},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grassGrowth16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-6}</string>
                <key>spriteSize</key>
                <string>{134,154}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{0,0},{134,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grassGrowth17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-6}</string>
                <key>spriteSize</key>
                <string>{134,154}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{0,154},{134,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grassGrowth18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-6}</string>
                <key>spriteSize</key>
                <string>{134,154}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{234,0},{134,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>grassGrowth2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-56}</string>
                <key>spriteSize</key>
                <string>{68,56}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{294,218},{68,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grassGrowth3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-42}</string>
                <key>spriteSize</key>
                <string>{72,84}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{230,134},{72,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>grassGrowth4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-42}</string>
                <key>spriteSize</key>
                <string>{72,84}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{314,134},{72,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grassGrowth5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-39}</string>
                <key>spriteSize</key>
                <string>{80,90}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{214,208},{80,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grassGrowth6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-31}</string>
                <key>spriteSize</key>
                <string>{80,106}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{134,200},{80,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grassGrowth7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-37}</string>
                <key>spriteSize</key>
                <string>{88,94}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{388,120},{88,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>grassGrowth8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-44}</string>
                <key>spriteSize</key>
                <string>{98,80}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{134,0},{98,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grassGrowth9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-37}</string>
                <key>spriteSize</key>
                <string>{88,94}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{388,120},{88,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>aimedVegetableTypes.png</string>
            <key>size</key>
            <string>{482,434}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47af337f15f4c220b99832c0acbfbeb7:848afb635fb6607a566416e036a1e66f:630e2a8ec6161201334e7baa4bcc6ae0$</string>
            <key>textureFileName</key>
            <string>aimedVegetableTypes.png</string>
        </dict>
    </dict>
</plist>
