<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>orangeGrowth1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-60}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{885,193},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orangeGrowth10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-40}</string>
                <key>spriteSize</key>
                <string>{68,90}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{701,125},{68,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>orangeGrowth11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-35}</string>
                <key>spriteSize</key>
                <string>{70,100}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{613,151},{70,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orangeGrowth12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-28}</string>
                <key>spriteSize</key>
                <string>{86,114}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{797,1},{86,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orangeGrowth13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-28}</string>
                <key>spriteSize</key>
                <string>{86,114}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{497,151},{86,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>orangeGrowth14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-28}</string>
                <key>spriteSize</key>
                <string>{90,114}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{1,159},{90,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>orangeGrowth15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-25}</string>
                <key>spriteSize</key>
                <string>{94,120}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{375,151},{94,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>orangeGrowth16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-24}</string>
                <key>spriteSize</key>
                <string>{94,122}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{701,1},{94,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orangeGrowth17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-24}</string>
                <key>spriteSize</key>
                <string>{98,122}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{251,151},{98,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>orangeGrowth18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-21}</string>
                <key>spriteSize</key>
                <string>{104,128}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{121,151},{104,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>orangeGrowth19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-11}</string>
                <key>spriteSize</key>
                <string>{114,148}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{121,1},{114,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orangeGrowth2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-54}</string>
                <key>spriteSize</key>
                <string>{50,60}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{685,195},{50,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orangeGrowth20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-11}</string>
                <key>spriteSize</key>
                <string>{114,148}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{237,1},{114,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orangeGrowth21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-11}</string>
                <key>spriteSize</key>
                <string>{114,148}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{353,1},{114,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orangeGrowth22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-11}</string>
                <key>spriteSize</key>
                <string>{114,148}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{469,1},{114,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orangeGrowth23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-7}</string>
                <key>spriteSize</key>
                <string>{118,156}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{1,1},{118,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orangeGrowth24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-11}</string>
                <key>spriteSize</key>
                <string>{114,148}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{585,1},{114,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orangeGrowth3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-54}</string>
                <key>spriteSize</key>
                <string>{50,60}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{685,195},{50,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orangeGrowth4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-50}</string>
                <key>spriteSize</key>
                <string>{50,68}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{737,195},{50,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>orangeGrowth5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-48}</string>
                <key>spriteSize</key>
                <string>{52,72}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{885,61},{52,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>orangeGrowth6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-48}</string>
                <key>spriteSize</key>
                <string>{58,74}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{885,1},{58,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>orangeGrowth7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-47}</string>
                <key>spriteSize</key>
                <string>{64,76}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{885,115},{64,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orangeGrowth8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-47}</string>
                <key>spriteSize</key>
                <string>{64,76}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{807,183},{64,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>orangeGrowth9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-42}</string>
                <key>spriteSize</key>
                <string>{64,86}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{797,117},{64,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>aimedVegetableTypes.png</string>
            <key>size</key>
            <string>{960,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dedf1c2ecdbe4b8752c3ff44f3d675d7:3b483fdcf0d4db024993cbd48f0376e4:630e2a8ec6161201334e7baa4bcc6ae0$</string>
            <key>textureFileName</key>
            <string>aimedVegetableTypes.png</string>
        </dict>
    </dict>
</plist>
