<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>orangeDeath1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{115,152}</string>
                <key>spriteSourceSize</key>
                <string>{181,198}</string>
                <key>textureRect</key>
                <string>{{1,165},{115,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orangeDeath2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{115,152}</string>
                <key>spriteSourceSize</key>
                <string>{181,198}</string>
                <key>textureRect</key>
                <string>{{1,319},{115,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orangeDeath3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{115,162}</string>
                <key>spriteSourceSize</key>
                <string>{181,198}</string>
                <key>textureRect</key>
                <string>{{1,1},{115,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>00.png</string>
            <key>size</key>
            <string>{117,472}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f4d338d204f8d3d9d94bf42a3f22691d:25f72d7a18af2e2ffeb789e31e737e8a:6084cb27e529904f566fb1a1bae8d259$</string>
            <key>textureFileName</key>
            <string>00.png</string>
        </dict>
    </dict>
</plist>
