<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sunflowerDeath1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,3}</string>
                <key>spriteSize</key>
                <string>{106,192}</string>
                <key>spriteSourceSize</key>
                <string>{142,198}</string>
                <key>textureRect</key>
                <string>{{1,1},{106,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunflowerDeath2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-17}</string>
                <key>spriteSize</key>
                <string>{155,150}</string>
                <key>spriteSourceSize</key>
                <string>{181,198}</string>
                <key>textureRect</key>
                <string>{{244,1},{155,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sunflowerDeath3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-16}</string>
                <key>spriteSize</key>
                <string>{133,160}</string>
                <key>spriteSourceSize</key>
                <string>{181,198}</string>
                <key>textureRect</key>
                <string>{{109,1},{133,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>00.png</string>
            <key>size</key>
            <string>{395,194}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab0da25611062cc258c37e74afff083b:beff0416c71a801bf275568bc868ce2a:6084cb27e529904f566fb1a1bae8d259$</string>
            <key>textureFileName</key>
            <string>00.png</string>
        </dict>
    </dict>
</plist>
