<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sunflowerGrowth1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-50}</string>
                <key>spriteSize</key>
                <string>{78,56}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{445,311},{78,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sunflowerGrowth10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-36}</string>
                <key>spriteSize</key>
                <string>{116,84}</string>
                <key>spriteSourceSize</key>
                <string>{142,198}</string>
                <key>textureRect</key>
                <string>{{233,147},{116,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunflowerGrowth11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-16}</string>
                <key>spriteSize</key>
                <string>{104,124}</string>
                <key>spriteSourceSize</key>
                <string>{142,198}</string>
                <key>textureRect</key>
                <string>{{1,389},{104,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sunflowerGrowth12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-19}</string>
                <key>spriteSize</key>
                <string>{116,118}</string>
                <key>spriteSourceSize</key>
                <string>{142,198}</string>
                <key>textureRect</key>
                <string>{{113,147},{116,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sunflowerGrowth13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-33}</string>
                <key>spriteSize</key>
                <string>{78,90}</string>
                <key>spriteSourceSize</key>
                <string>{142,198}</string>
                <key>textureRect</key>
                <string>{{351,227},{78,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunflowerGrowth14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-31}</string>
                <key>spriteSize</key>
                <string>{78,94}</string>
                <key>spriteSourceSize</key>
                <string>{142,198}</string>
                <key>textureRect</key>
                <string>{{271,233},{78,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunflowerGrowth15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-30}</string>
                <key>spriteSize</key>
                <string>{78,96}</string>
                <key>spriteSourceSize</key>
                <string>{142,198}</string>
                <key>textureRect</key>
                <string>{{207,383},{78,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunflowerGrowth16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-20}</string>
                <key>spriteSize</key>
                <string>{78,116}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{351,147},{78,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sunflowerGrowth17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-22}</string>
                <key>spriteSize</key>
                <string>{78,112}</string>
                <key>spriteSourceSize</key>
                <string>{142,198}</string>
                <key>textureRect</key>
                <string>{{127,383},{78,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunflowerGrowth18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-20}</string>
                <key>spriteSize</key>
                <string>{78,116}</string>
                <key>spriteSourceSize</key>
                <string>{142,198}</string>
                <key>textureRect</key>
                <string>{{111,265},{78,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunflowerGrowth19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-20}</string>
                <key>spriteSize</key>
                <string>{78,116}</string>
                <key>spriteSourceSize</key>
                <string>{142,198}</string>
                <key>textureRect</key>
                <string>{{191,265},{78,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunflowerGrowth2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-47}</string>
                <key>spriteSize</key>
                <string>{78,62}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{441,403},{78,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sunflowerGrowth20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-14}</string>
                <key>spriteSize</key>
                <string>{96,144}</string>
                <key>spriteSourceSize</key>
                <string>{142,198}</string>
                <key>textureRect</key>
                <string>{{113,1},{96,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunflowerGrowth21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-14}</string>
                <key>spriteSize</key>
                <string>{96,144}</string>
                <key>spriteSourceSize</key>
                <string>{142,198}</string>
                <key>textureRect</key>
                <string>{{211,1},{96,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunflowerGrowth22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-14}</string>
                <key>spriteSize</key>
                <string>{96,144}</string>
                <key>spriteSourceSize</key>
                <string>{142,198}</string>
                <key>textureRect</key>
                <string>{{309,1},{96,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunflowerGrowth23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-13}</string>
                <key>spriteSize</key>
                <string>{96,144}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{407,1},{96,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunflowerGrowth24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,3}</string>
                <key>spriteSize</key>
                <string>{110,192}</string>
                <key>spriteSourceSize</key>
                <string>{142,198}</string>
                <key>textureRect</key>
                <string>{{1,1},{110,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunflowerGrowth25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,3}</string>
                <key>spriteSize</key>
                <string>{108,192}</string>
                <key>spriteSourceSize</key>
                <string>{142,198}</string>
                <key>textureRect</key>
                <string>{{1,195},{108,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunflowerGrowth3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-44}</string>
                <key>spriteSize</key>
                <string>{78,68}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{371,403},{78,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sunflowerGrowth4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-47}</string>
                <key>spriteSize</key>
                <string>{78,62}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{441,403},{78,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sunflowerGrowth5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-50}</string>
                <key>spriteSize</key>
                <string>{78,56}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{445,311},{78,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sunflowerGrowth6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-46}</string>
                <key>spriteSize</key>
                <string>{82,62}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{431,227},{82,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sunflowerGrowth7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-38}</string>
                <key>spriteSize</key>
                <string>{82,78}</string>
                <key>spriteSourceSize</key>
                <string>{142,198}</string>
                <key>textureRect</key>
                <string>{{287,415},{82,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunflowerGrowth8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-41}</string>
                <key>spriteSize</key>
                <string>{82,72}</string>
                <key>spriteSourceSize</key>
                <string>{142,198}</string>
                <key>textureRect</key>
                <string>{{371,319},{82,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sunflowerGrowth9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-35}</string>
                <key>spriteSize</key>
                <string>{82,84}</string>
                <key>spriteSourceSize</key>
                <string>{142,198}</string>
                <key>textureRect</key>
                <string>{{287,329},{82,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>aimedVegetableTypes.png</string>
            <key>size</key>
            <string>{504,496}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:44a89fad539d7e0ae51fb963fa4505e5:20bedd8f56eaa6066a534d237589afc7:630e2a8ec6161201334e7baa4bcc6ae0$</string>
            <key>textureFileName</key>
            <string>aimedVegetableTypes.png</string>
        </dict>
    </dict>
</plist>
